body
 {
    background-image: url(brigitte-tohm-EAay7Aj4jbc-unsplash.jpg);
    background-position: center;
    background-size: 120%;
    background-position: fixed;
}div.topnav {
    width: 22%;
    
}

div.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  div.topnav li {
    float: left;
  }
  
  div.topnav li a {
    display: block;
    color: lawngreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  div.topnav li a:hover {
    background-color: #111;
  }

   
