* {
    padding: 0;
    margin: 0;
}

html {
    background: url(brigitte-tohm-EAay7Aj4jbc-unsplash.jpg) no-repeat fixed
        center;
}

div.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.topnav li {
    float: left;
}

div.topnav li a {
    display: block;
    color: lawngreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
div.topnav li a:hover {
    background-color: lightgoldenrodyellow;
}

div#about,
p {
    position: relative;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 180px;
    margin-top: 370px;
}
.container {
    position: relative;
    max-width: 285px;
    margin: 340px auto 340px auto;
}

.container .btn {
    position: absolute;
    /* top: 1000%; */
    /* left: 100%; */
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    /* margin: 2.1em auto 2.1em auto; */
}

.container .btn:hover {
    background-color: rgb(146, 214, 45);
    color: white;
}
div.contact {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    font-weight: 900;
    margin-left: 380px;
    padding-bottom: 240px;
}
input {
    width: 50%;
}
textarea {
    width: 100%;
}
